{% extends "table/base.html" %}
{% block title %}
    your form for table
{% endblock %}
{% block content%}
        <form action="/student" method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
            <button type="submit">Send</button>
        </form>

<a href="{% url 'student_list' %}">Go to List</a>

{% endblock %}